body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    list-style: none;
    text-decoration: none;
}



/*Navbar Bereich startet*/

ul {
    list-style-type: none;
}

.navbar h1{
    font-size: 40px;
    color: #32353D;
    font-weight: normal;
}

.navbar h4, .navbar a {
    font-size: 16px;
    color: #716B73;
    font-weight: lighter;
}

/* Die Navbar, das Logo plus Untertitel und die navbar items sind jeweils einzelne flex container*/
/* Das Logo und die Navbar Items sollen jeweils 50% der Navbar einnehmen */
.navbar ul {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 0px;
    /*Abstand zwischen allen Items und dem Rand gleichmäßig 32px*/
    margin: 8px 16px 8px 8px;
    align-items: center;
}

.navbar {
    display: flex;
    padding: 16px;
}

#logo {
    display: flex;
    flex-flow: column;
    width: 50%;
}
/*unterschiedliche margin left um "Kommunikationsdesign" mit Lisa Egert zu zentrieren*/
#logo h1 {
    margin: 24px 0px 4px 32px;
}
#logo h4 {
    margin: 4px 0px 32px 38px;
}

.navbar a {
    padding: 16px;
}

#home-link{
    padding: 0px;
}

/*Portfolio Bereich startet hier*/
#portfolio {
    background-color: #f3ebe7;
    padding-bottom: 64px;
    width: 100%;
    
}

#top-images, #bot-images {
    display: flex;
    padding: 0px 0px;
    justify-content: center;
}

.portfolio-images {
    /*Die schwarzen Bilder sind nicht richtig zentriert. Fullscreen und kleiner. Responsiveness?*/
    max-width: 30%;
    padding: 0px;
}
/*Font is not available in 500 weight*/
.section-heading {
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.0525em;
    font-size: 24px;
    padding: 64px 0px;
}
#portfolio-heading {
    color: #716b73;
}

/*Trying the right distance from each other with margin. Maybe there is a better solution*/
#portfolio-image-1 {
    margin: 0px 1% 1% 2%;
}

#portfolio-image-2 {
    margin: 0px 1% 1% 1%;
}

#portfolio-image-3 {
    margin: 0px 2% 1% 1%;
}

#portfolio-image-4 {
    margin: 1% 1% 0px 2%;
}

#portfolio-image-5 {
    margin: 1% 1% 0px 1%;
}

#portfolio-image-6 {
    margin: 1% 2% 0px 1%;
}

/*Hier startet der Leistungen Abschnitt*/

#leistungen {
    background-color: #d6bfb6;
    padding-bottom: 64px;
    width: 100%;
}

#leistungen-heading {
    color: #ffffff;
    margin: 0px;
}

.icon-groupcontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.icon-container {
    display: flex;
    background-color: white;
    border-radius: 100%;
    height: 140px;
    width: 140px;
    justify-content: center;
    align-items: center;
}

.leistungen-icons {
    color: #aa7f76;
}

.icon-underline {
    color: #ffffff;
    font-size: 19px;
    margin-top: 48px;
    font-weight: 400;
    /*Justify Center und allign Center hat die Unterschriften nicht mit den Icons geligned. Deswegen position relative und 15 px nach links.*/
    position: relative;
    right: 15px;
}

#corporate-design-underline {
    /*Die Corporate Design Unterschrift musste nochmal gesondert nach links bewegen, weil sie im Vergleich der anderen Unterschriften nicht zentriert war*/
    position: relative;
    right: 28px;
}
/*Über mich section beginnt hier*/
#ueber-mich-heading {
    margin: 0;
    color:  #716b73;
    padding-bottom: 0px;
}

#headshot-wrapper {
    display: flex;
    margin-bottom: 82px;
}

#paragraph-container {
    display: flex;
    width: 50%;
    margin: 48px 150px 0px 140px;
}

#paragraph-container p {
    color: #716b73;
    margin: 0px;
    font-size: 14px;
}

#headshot-container {
    display: flex;
    width: 40%;
    margin: 0px;  
    justify-content: center; 
}

#headshot {
    width: 55%;
    height: auto;
    align-self: center;
}

/*Kontakt-section beginns here*/
#kontakt {
    background-color: #f3ebe7;
    width: 100%;
    display: flex;
    flex-direction: column;
}
/*Flex Container, that wraps around the contact links and icons*/
#kontakt-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 64px;
}

#kontakt-heading, .kontakt-links {
    color: #716b73;
    margin: 0px;
    padding-bottom: 82px;
}

.kontakt-links {
    font-size: 16px;
}



/*correct spacing between the kontakt section links*/


#map, #phone, #envelope {
    margin-right: 15px;
}

.kontakt-wrapper-small {
    position: relative;
    right: 25px;
    margin-bottom: 30px;
}

/*footer begins here*/

footer {
    background-color: #aa7f76;
    width: 100%;
    display: flex;
    height: 64px;
    align-items: center;
}

footer, a {
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    margin-right: 15px;
}

#footer-wrapper {
    margin-left: 15px;
}

/*Animations*/
.navbar-links:hover {
    background-color: #f3ebe7;
    transition-property: background-color;
    transition-duration: .3s;
    border-radius: 10px;
}




/*Iphone Responsiveness*/
@media only screen 
    and (min-width: 841px) {
        .hide-desktop {
            display: none;
        }
    }

@media only screen 
    and (max-width: 840px) 
     {      /*Started to hide some elements in mobile for better overview*/
         .hide-mobile {
            display: none;
         }

         #logo h1 {
             font-size: 31px;
             margin-left: 0px;
         }

         #logo h4 {
             font-size: 14px;
             margin-left: 0px;
         }
         
         /*Portfolio Section now with only one picture instead of 6. Slideshow soon to be implemented*/ 
         #bot-images {
            justify-content: center;
            height: 100%;
         }

         #portfolio-heading {
             padding-bottom: 32px;
             margin-top: 0px;
         }
         #portfolio-image-6 {
            margin: 0px;
            max-width: 70%;
         }

         /*Had to resize the icons and background circle*/

         .icon-container {
            height: 100px;
            width: 100px;
        }

         /*Can't make it disappear with .hide-mobile Not sure why*/
        #headshot-container {
            display: none;
        }

        #paragraph-container {
            margin: 32px 16px 0px 16px;
            width: 100%;
        }

        #paragraph-container, p {
            text-align: center;
        }

        /*Icon and link in one line. Three lines beneath each other*/

        #kontakt-wrapper {
            flex-direction: column;
            align-items: center;
        }

        #map, #phone, #envelope {
            margin-left: 15px;
        }

        footer, a {
            padding: 0px;
        }

        /*Burgermenu copied off of site. Don't know how it works*/
        

        #navbar-wrapper {
            height: 200px;

        }

        .navbar .icon {
            background-color: #ffffff;
            display: block;
            position: absolute;
            right: 25px;
            top: 40px;
          }

        .navbar ul {
            display: none;
            background-color: #ffffff;
        }

        .navbar li {
           margin-right: 0px;
           position: relative;
           font-size: 18px;
           top: 80px;
           left: 30px;
           margin-top: 15px;
           text-align: end;
        }

        .navbar a {
            padding: 6px;
        }
  }
    

  /*portfolio.html starts here*/

  /*Header is the same as in index.html*/

  /*Portfolio part with images starts here*/

figure {
    margin: 0% 2% 0% 2%;
}
  
#picture-wrapper {
    background-color:#f3ebe7;
}

.line-wrapper {
    display: flex;
    justify-content: center;
    padding: 24px 32px 0px 32px;
}

.portfolio-images-complete {
    width: 100%;
    height: 70%;
}

.portfolio-images-complete-wrapper {
    width: 30%;
}

.caption {
    font-size: 16px;
    color: #716B73;
    font-weight: bold;
    padding-top: 20px;
}

.caption-hashtag {
    font-size: 13px;
    color: #716B73;
    padding-top: 12px;
}





































