body {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Navbar Bereich startet*/

ul {
    list-style-type: none;
}

#navbar h1{
    font-size: 40px;
    color: #32353D;
    font-weight: normal;
}

#navbar h4, #navbar a {
    font-size: 16px;
    color: #716B73;
    font-weight: lighter;
}

#navbar a {
    list-style: none;
    text-decoration: none;
}
/* Die Navbar, das Logo plus Untertitel und die navbar items sind jeweils einzelne flex container*/
/* Das Logo und die Navbar Items sollen jeweils 50% der Navbar einnehmen */
#navbar ul {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 0px;
    /*Abstand zwischen allen Items und dem Rand gleichmäßig 32px*/
    margin: 8px 16px 8px 8px;
    align-items: center;
}

#navbar {
    display: flex;
}

#logo {
    display: flex;
    flex-flow: column;
    width: 50%;
}
/*unterschiedliche margin left um "Kommunikationsdesign" mit Lisa Egert zu zentrieren*/
#logo h1 {
    margin: 24px 0px 4px 32px;
}
#logo h4 {
    margin: 4px 0px 32px 38px;
}

.navbar-items {
    padding: 16px;
}

/*Portfolio Bereich startet hier*/
#portfolio {
    background-color: #f3ebe7;
    padding-bottom: 64px;
    
}

#top-images, #bot-images {
    display: flex;
    padding: 0px 0px;
    align-items: flex-start;
}

.portfolio-images {
    /*Die schwarzen Bilder sind nicht richtig zentriert. Fullscreen und kleiner. Responsiveness?*/
    width: 30%;
    padding: 0px;
}
/*Font nicht in 500 verfügbar.*/
#portfolio-heading {
    text-align: center;
    color: #716b73;
    font-weight: 600;
    letter-spacing: 0.0525em;
    font-size: 24px;
    padding: 64px 0px;
}

/*die richtigen Abstände bei den Portfolio Bildern mit margin. Vielleicht gibt es bessere Lösung*/
#portfolio-image-1 {
    margin: 0px 16px 16px 32px;
}

#portfolio-image-2 {
    margin: 0px 16px 16px 16px;
}

#portfolio-image-3 {
    margin: 0px 32px 16px 16px;
}

#portfolio-image-4 {
    margin: 16px 16px 0px 32px;
}

#portfolio-image-5 {
    margin: 16px 16px 0px 16px;
}

#portfolio-image-6 {
    margin: 16px 32px 0px 16px;
}















